body {
	background-color: #0b0e14;
}
main {
	background-color: #292b2d;
	color: #d8d8d8;
}
.sidebar {
	background-color: #eaeaea;
}
#course-table {
    color: #0b0e14;
}
.course_generic {
	background-color: #eaeaea;
}
#topics, #content, #questions > div {
	background-color: #3f3f3f;
}
.md_input, .md-input ~ span {
	color: #eaeaea;
}
#container > section {
	background-color: #292b2d;
}
label {
	color: #0b0e14;
	border: none;
}