body {
	background-color: #0b0e14;
}
main {
	background-color: #292b2d;
	color: #d8d8d8;
}
.sidebar {
	background-color: #eaeaea;
}
.message-from {
	background-color: #69108c;	
}
.message-to {
	background-color: #c97c12;
}
#message {
    color: #eaeaea;
}
#list > div > div:first-child {
    color: #eaeaea;
    background: transparent;
}
#list > div > div:nth-child(2){
    background: transparent;
}
#list > div > div:last-child{
    background: transparent;
}
#selected {
    background-color: #d32f2f;
}
input[type='radio'] + label {
    color: #515151;
}
.bubble-link {
    color: #515151;
}
summary img {
    filter:invert(100%);
}