body {
    background-color: #212121;
}
h1 {
    color: #ccc;
}
main {
    max-width: 1600px;
    background-color: #212121;
}
nav a img {
    filter:invert(100%);
}
main a {
    background-color: #ccc;
}
main div {
    background-color: #000;
}
.modal h1 {
    color: #0b0e14;
}
.modal h2 {
    color: #515151;
}
.md-input ~ span {
    color: #fff;
}