body {
    /* color removed in merging process jeron fix pls */
    background-color: #212121;
}
h1 {
    color: #ccc;
}
img {
    filter: invert(100%);
}
main {
    max-width: 1600px;
    /* color removed in merging process jeron fix pls */
    background-color: #212121;
}
main a {
    background-color: #fff;
}
main div {
    background-color: #000;
}
.modal h1 {
    color: #0b0e14;
}
.modal h2 {
    color: #515151;
}
.md-input span {
    color: #fff;
}